In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
dfl = pd.read_csv('Recognized_Shop_Healthy_Stores_20231202.csv')

In [3]:
dfl.tail()

,Store Name,Street Address,Address,Borough,Zip \nCode,Year Awarded,Program \nWave,Latitude,Longitude,Community Board,Council District,BIN,BBL,Census Tract (2020),Neighborhood Tabulation Area (NTA) (2020)
670,Piggy Meat Corp,301 Marcus Garvey BLVD,NaN,Brooklyn,11221,2023,10,40.687193,-73.938868,303.0,36.0,"3,325,019","3,016,340,001",277,BK0302
671,Natural And Organic Deli Corp,1203 Myrtle Avenue,NaN,Brooklyn,11221,2023,10,40.697358,-73.931971,304.0,34.0,"3,072,462","3,031,830,084",391,BK0401
672,Keita West African Market Inc,1225 Broadway,NaN,Brooklyn,11221,2023,10,40.691837,-73.926142,304.0,37.0,"3,074,943","3,032,830,008",395,BK0402
673,Organic Fresh Market Corps,1440 Broadway,NaN,Brooklyn,11221,2023,10,40.688051,-73.919544,303.0,41.0,"3,039,726","3,014,840,015",375,BK0302
674,City Star Deli Corp,1104 Bushwick,NaN,Brooklyn,11221,2023,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
conn_url = 'postgresql://postgres:123@localhost/ABCFOODMART'

In [5]:
engine = create_engine(conn_url)

In [6]:
connection = engine.connect()

In [4]:
#Location Table
location_df = dfl.drop_duplicates(subset = ['Store Name']).copy()

In [5]:
#insert "location_id" column
location_df.insert(0,'location_id', range(1,1 + len(location_df)))

In [6]:
#insert "state" column
location_df['state'] = 'NY'

In [7]:
#rename the columns
location_df = location_df.rename(columns={
    'Store Name': 'location_name',
    'Street Address': 'address',
    'Borough': 'city',
    'Zip \nCode': 'zip_code'
})

In [8]:
location_df = location_df[['location_id', 'location_name', 'address','city', 'state','zip_code']]

In [9]:
dfe = pd.read_csv

In [11]:
location_df

,location_id,location_name,address,city,state,zip_code
0,1,Rivas Deli Grocery,651 East 183rd Street,Bronx,NY,10458
1,2,C-Town,1761 Southern Boulevard,Bronx,NY,10460
2,3,La India Mini Market,1942 Marmion Avenue,Bronx,NY,10460
3,4,Los Hermanos,2019 Vyse Avenue,Bronx,NY,10460
4,5,Price Choice Food Market,820 East 180th Street,Bronx,NY,10460
...,...,...,...,...,...,...
670,638,Piggy Meat Corp,301 Marcus Garvey BLVD,Brooklyn,NY,11221
671,639,Natural And Organic Deli Corp,1203 Myrtle Avenue,Brooklyn,NY,11221
672,640,Keita West African Market Inc,1225 Broadway,Brooklyn,NY,11221
673,641,Organic Fresh Market Corps,1440 Broadway,Brooklyn,NY,11221
674,642,City Star Deli Corp,1104 Bushwick,Brooklyn,NY,11221